<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Coronavirus_COVID_19</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body
	style="color: black; background-color: black; background-image: url('https://www.newschannel10.com/resizer/XFwrgGO0ZXHhIH-HSwlERy3XsNQ=/1200x600/arc-anglerfish-arc2-prod-raycom.s3.amazonaws.com/public/HIXNJMOC7FBOHHAFYXIW6JJXBA.PNG');">
	<h5>
		<a href="https://www.worldometers.info/coronavirus/"
			style="color: #f7e116;"><img alt="" width="" height="">Worldwide
			live chart......CLICK HERE</a>
	</h5>

	<div class="container container-fluid">
		<div style="color: #30f2e5; text-align: center;">
			<h1>Novel Coronavirus Tracker Application</h1>
			<p>This application lists the total number of corona virus cases
				till date across the globe.</p>
		</div>
		<div class="container container-fluid">
			<table
				class="table table-dark table-bordered table-hover">
				<thead>
					<tr style="color: #f7810a">
						<th>State/Province</th>
						<th>Country/Region</th>
						<th>Latitude</th>
						<th>Longitude</th>
						<th>Total cases till date</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="list : ${caselist}">
						<td th:text="${list.state}"></td>
						<td th:text="${list.country}"></td>
						<td th:text="${list.latitude}"></td>
						<td th:text="${list.longitude}"></td>
						<td th:text="${list.latestTotalCases}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<p style="color: #f7d707; text-align: right;">~by Shekher Sir Students by Sathya Technologies HYD.........</p>

</body>

</html>